{% extends "layout.html.twig" %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-3">
				<a href="index.php?route=products" class="btn btn-secondary">Retour</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Modifier le produit "{{ produit.nom }}"</h5>
						<form method="post" action="index.php?route=modifier_produit_&id={{ produit.id }}" enctype="multipart/form-data">
							<input type="hidden" name="media_url" value="{{ produit.media }}">
							<div class="form-group">
								<label for="nom">Nom du produit</label>
								<input type="text" class="form-control" id="nom" name="nom" value="{{ produit.nom }}">
							</div>
							<div class="form-group">
								<label for="prix">Prix</label>
								<input type="text" class="form-control" id="prix" name="prix" value="{{ produit.prix }}">
							</div>
							<div class="form-group">
								<label for="quantite">Quantité</label>
								<input type="text" class="form-control" id="quantite" name="quantite" value="{{ produit.quantite }}">
							</div>
							<div class="form-group">
								<label for="description">Description</label>
								<textarea class="form-control" id="description" name="description">{{ produit.description }}</textarea>
							</div>
							<div class="form-group">
								<label class="label_image" for="input_file">{{produit.media}}</label>
								<input type="file" accept="image/jpeg, image/png, image/jpg" value="{{produit.media}}" name="input_file" id="input_file">
							</div>
							<div class="form-group">
								<label for="categorie">ID de catégorie</label>
								<select class="form-control" name="categorie" id="categorie" required>
									{% if produit is defined %}
										{% set selectedCategoryId = produit.categorie.id %}
										<option value="{{ selectedCategoryId }}">{{ produit.categorie.nom }}</option>
									{% endif %}
									{% for categorie in categories %}
										{% if produit is not defined or categorie.id != selectedCategoryId %}
											<option value="{{ categorie.id }}">{{ categorie.nom }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<!-- Ajoutez ici d'autres champs que vous souhaitez modifier -->
							<button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
